/build
/vendor
/.idea
*.log
/src/tests/_output/*
/src/tests/_data/*
/src/tests/_support/*
src/tests/unit/UnitTester.php
src/tests/functional/FunctionalTester.php
src/tests/acceptance/AcceptanceTester.php
