language: php
sudo: false

php:
  - 5.4
  - 5.5
  - 5.6
  - hhvm

before_script:
  - composer self-update
  - composer install --no-interaction --dev
  - sh -c 'if [ "$TRAVIS_PHP_VERSION" != "hhvm" ]; then ./bin/codecept build; fi;'
  - sh -c 'if [ "$TRAVIS_PHP_VERSION" == "hhvm" ]; then hhvm bin/codecept build; fi;'

script:
  - sh -c 'if [ "$TRAVIS_PHP_VERSION" != "hhvm" ]; then ./bin/codecept run unit -c codeception.yml -q -n --coverage-xml ../../../build/logs/clover.xml; fi;'
  - sh -c 'if [ "$TRAVIS_PHP_VERSION" != "hhvm" ]; then ./bin/phpspec run; fi;'
  - sh -c 'if [ "$TRAVIS_PHP_VERSION" != "hhvm" ]; then ./bin/phpmd src/ text cleancode,codesize,controversial,design,unusedcode --exclude tests; fi;'
  - sh -c 'if [ "$TRAVIS_PHP_VERSION" == "hhvm" ]; then hhvm bin/codecept run unit; fi;'

after_script:
  - CODECLIMATE_REPO_TOKEN="867c5e28ec9eab9e1f267802e29b0082903e8709ad91ac2d0340dde278b10a4b" vendor/bin/test-reporter --stdout > codeclimate.json
  - curl -X POST -d @codeclimate.json -H 'Content-Type: application/json' -H 'User-Agent: Code Climate (PHP Test Reporter v0.1.1)' https://codeclimate.com/test_reports
